@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Satisfy&display=swap');

#content  {
    max-width: 1600px; 
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
nav a {
    text-align: center;
    color: #10172D;
    text-decoration: none;
    padding: 35px;
}


#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg h1 {

    text-align: center;
    color: gold;

}
 .msg p  {

  color: white;
  padding-bottom: 15px;
 }

 .msp h2{

    color:#10172D
 }
#hero-msg h4 {

    text-align: center;
    color: gold;

}

.button-box {

    text-align: center;
}

main section{

    text-align: center;
}

body{
    font-family: Poppins, sans-serif;
    background-color: #EBAA98;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #7B9E89;
    opacity: 50%;
    color: #000;

    display: grid;
    grid-template-columns: 150px auto;
}

nav a:hover {
    background-color: white;
    color: Black;
}

.book, .join {
    padding: 15px 30px;
   background-color:  #7B9E89;
   color: white;
   margin-top: 50px;
   border-radius: 5px;
}

.book:hover, .join:hover {

    background-color:  #213472;
    color: white;
 }
 
 #background {

    background-color: #10172D;
    color: white;
 }

 footer{
    padding: 25px 50px;
    background-color: #7B9E89;
    color:  gold;
    margin-top: 200px;
 }
 footer a{

    color:gold;
    text-decoration:none;
 }
 footer p a:hover{

    color: white;
    text-decoration: underline;
 }
 footer p
{
    
    font-size: 1.2em;
     

}
 .msg {
    background-color: #10172D;
    color: white;
    line-height:1.5 em ;
    padding: 35px;

 }
 
 .icon{
    width: 80px;
    padding-top: 10px;
 }

#hero-img{

    width: 100%
}

.logo{

    width: 80px;
}

.home-title {
    font-family: 'Poppins', 'Satisfy', sans-serif;
    font-size: 2em;
}

h2{

    margin: 0;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    padding-top: 5px;
}

footer .social img{
    padding-top: 15px;
}   
.rivers-card, .camping-card, .rapids-card {  margin: 200px 0;
}

.home-title { 
     margin-top: 10px;
}

#home-grid{
    display: grid;
    grid-template-columns: repeat(10,1fr);

}

.card-img {

    border: 10px solid #7B9E89;
}

main section img {
    box-sizing: border-box;
}
.card-img, .mountains {
    width: 100%;
}